<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flashcard.css') }}">

    <title>Flashcard</title>
</head>
<body>
    <div class="progress-container">
    <div class="progress-bar" id="progressBar"></div>
</div>

<div class="progress-text" id="progressText">3%</div>
<button class="exit-btn" onclick="goBack()">
    <svg xmlns="http://www.w3.org/2000/svg" 
         width="20" height="20" 
         viewBox="0 0 24 24" 
         fill="none" stroke="currentColor" 
         stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/>
        <polyline points="16 17 21 12 16 7"/>
        <line x1="21" y1="12" x2="9" y2="12"/>
    </svg>
    <span>Exit</span>
</button>

<div class="filter-dropdown">
    <span class="filter-label">Filter:</span>

    <select id="filterSelect" onchange="setFilter(this.value)">
        <option value="all">All Questions</option>
        <option value="demerit">Demerit Only</option>
        <option value="signs">Signs Only</option>
    </select>
</div>
<div class="flashcard-stack" id="flashcard-stack">

</div>


    
    <script src="{{ url_for('static', filename='index.js')}}"></script>

</body>
</html>